@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    outline: none;
  }

  ::-webkit-scrollbar {
    width: 4px;
    @apply bg-primary-500;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-primary-200;
  }
}

@layer utilities {
  .cubic-b1 {
    transition-timing-function: cubic-bezier(0.48, -0.72, 0, 1.54);
  }
}

@layer components {
  .btn {
    @apply inline-block py-[0.6rem] px-[1rem] rounded-[6px] cursor-pointer text-sm bg-white;
  }

  .btn-light {
    @apply btn bg-light-500 text-primary-500 hover:bg-light-400 hover:text-primary-500;
  }

  .btn-stroked {
    @apply btn text-primary-500    hover:text-primary-300;
  }
}
